body {
    /* Encriptador - 1 Desktop */
    /* position: relative; */
    /* width: 1440px; */
    /* height: 1024px; */

    /* Light blue/light-blue-100 */
    background: #F3F5FC;
}


/* -----   HEADER  -------*/
header .header-logo{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    gap: 40px; /*espacio entre elementos*/

    position: relative;
    width: 98%;
    height: 100px;
    left: 1em;
    top: 0px;

    /*centrar */
    margin: 0 0 1em 0;

    /* Light blue/light-blue-500 */
    background: #B9C6FA;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 32px 32px;
}
header .logo-alura {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 25px;
    top: 30px;
}


/* -----   MAIN  -------*/
main {
    /*DISPLAY flex para ubicar el text area al lado del contendor del muñeco*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px; 
    gap: 40px;

    margin: 2em 2em 2em 2em;
}
main .ingrese-texto {
    width: 50%;
    height: 80%;
    /* background-color: aqua; */
    margin: 2em 1em 0 5em;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}
main .form-ingrese-texto{
    /*Colocar los botones debajo del input*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
main .form-ingrese-texto .texto {
    /*quitar borde y fondo del input*/
    border: none;
    background: transparent;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    margin: 1em 2em 16em 2em ;
}
.texto[type="text"]:valid {
    background-color: #F3F5FC;
}

main .form-ingrese-texto .texto:focus { 
    /* quitar */
    outline: none;
    border:none;
    border-color: transparent;
}
main .form-ingrese-texto .texto::placeholder {
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

main .form-ingrese-texto .advertencia{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin: 0 0 0 4em;
}
main .form-ingrese-texto .advertencia .advertencia-img{
    width: 12px;
    height: 12px;
    /* background-color: blue; */
}
main .form-ingrese-texto .advertencia .mensaje{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
}

/*-- BOTONES -- */
main .form-ingrese-texto .botones {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;

    /* background-color: aquamarine; */

    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    padding: 1em 0 0 0;
}
main .form-ingrese-texto .botones .boton-encriptar {
    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */
    color: #FFFFFF;
}
main .form-ingrese-texto .botones .boton-encriptar:hover {
    /* Dark blue/dark-blue-400 */
    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    transform: scale(1.1);
}
main .form-ingrese-texto .botones .boton-desencriptar {
    width: 328px;
    height: 67px;

    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}
main .form-ingrese-texto .botones .boton-desencriptar:hover {
    border-radius: 24px;
    transform: scale(1.1);
}

main .contenedor-muñeco {
    width: 400px;
    height: 944px;
    margin: 0 0 0 2em;

    /* White */
    background: #FFFFFF;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    /*alinear verticalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .contenedor-muñeco .muñeco {
    width: 336px;
    height: 304px;
    left: 1032px;

    margin: 5em 0 2em 0;
}
main .contenedor-muñeco .mensaje-sin-texto{
    width: 70%;
    gap: 1em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;
}
main .contenedor-muñeco .mensaje-sin-texto-p{
    font-size: 24px;
    line-height: 120%;

    /* Gray/gray-500 */
    color: #343A40;
}
main .contenedor-muñeco .mensaje-sin-texto-p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    /* Gray/gray-400 */
    color: #495057;
}
main .contenedor-muñeco .texto-encriptado{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */


    /* Gray/gray-400 */

    color: #495057;
}
main .contenedor-muñeco .boton-copiar {
    margin: 3em 0 0 0;
}
main .contenedor-muñeco .boton-copiar-texto:hover {
    /* Dark blue/dark-blue-400 */
    border-radius: 24px;
    transform: scale(1.1);
}
main .contenedor-muñeco .boton-copiar-texto:active {
    /* Dark blue/dark-blue-400 */
    border-radius: 24px;
    transform: scale(1.15);
}
main .contenedor-muñeco .boton-copiar-texto {
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
}


/*Footer de la página*/
.footer {
    margin: 2em 0 0 0;

    /* Dark blue/dark-blue-500 */
    background: #0A3871;
}